.DS_Store
*.swp
*.bak
*.swo
.idea/
.vscode/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.venv/
venv/
env/
/backend/.venv/
/backend/venv/

__pycache__/
*.pyc

*.egg-info/
dist/
build/

.coverage
htmlcov/
.pytest_cache/

/backend/instance/*
!/backend/instance/config.json
/backend/instance/*.db

.env
.flaskenv

/frontend/node_modules
/frontend/.vite
/frontend/dist

# Ignorar arquivos sensíveis
.env
__pycache__/
*.pyc
instance/

# --- ADMIN AREA (NÃO SUBIR) ---
app/routes/admin_routes.py
app/templates/admin/
app/static/admin/
admin/
adm/
secret-admin/
*.local.html
*.local.js
