# docker compose up --build -d

version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: trab-backend
    env_file:
      - ./backend/.env
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: trab-frontend
    ports:
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - backend

networks:
  default:
    driver: bridge
