# docker compose up --build -d

services:
  mongodb:
    image: mongo:7.0
    container_name: trab-mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=sitask
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: trab-backend
    env_file:
      - ./backend/.env
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb://mongodb:27017/sitask
    ports:
      - "5000:5000"
    restart: unless-stopped
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: trab-frontend
    ports:
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongodb_data:
    driver: local

networks:
  app-network:
    driver: bridge
